article {
	height: 60vh;
	width: 100%;
	padding: 0px !important;
}

.grid {
	width: 100%;
	height: 100%;
}

.grid hgroup {
	padding: 2rem;
}

.grid div {
	background-image: url(image.svg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
